
.footer {
  background-color: #a3c7ff;
  padding: 30px;
  color: #464646; }


address {
  font-size: 95%;
  margin: 0px;
  color: #464646; }

body {
  padding: 0px 0px 0px 0px;
  z-index: 0;
  font-family: "Lucida Console", "High Tower Text", monospace;
  background-color: #e7e7e7;
  }

.navbar-dark {
  background-color: #09347a;
  }
 
.carousel {
  background: #e2e2e2; }
  .carousel .carousel-item {
    height: 500px; 
    width: 700px;}
    .carousel .carousel-item img {
      top: 0;
      left: 0;
      height: 500px; 
      width: 1200px;
      opacity: .60;}
#con
{
  color: #000000;
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
  #addr {
    margin-top: 30px;
    margin-bottom: 30px;
    
    color: #464646;
  }

.modal-header{
  background-color: #093470;
  color: #f6f6f5;
}
.modal-header .close{
  color: white;
}
.modal-body{
  color: #4b9cd3;
  background-color: #e7e7e7;
}
.jumbotron{
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  background-color: #e7e7e7;
  color: #09347a;
  font-size: larger;
}
.card{
  margin: 20px;
}
